# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Additional ignores
*.env
*.env.local
 backend/.env
 frontend/.env.local
 ml/*.pkl
